.product-details {
  display: flex;
  margin: 20px;
}

.product-images {
  max-width: 40%;
  margin-right: 20px;
}

.product-images img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.product-info {
  flex: 1;
}

.description {
  font-style: italic;
}

.details {
  margin-top: 10px;
}

.product-container {
  display: flex;
  flex-direction: column;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  margin-top: 20px;
  margin-right: 20px;
}

.rounded-button {
  height: 40px;
  width: 100px;
  background-color: #00cc00;
  color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border-radius: 20px;
}
