.spacer {
  flex: 1 1 auto;
}

:host {
  display: block;
}

.search-bar {
  padding: 0px 56px 0px 8px;
  background: white;
  border-radius: 40px;
  display: flex;
  align-items: center;
  height: 40px;
  margin-left: 40px;

  > input {
    font-size: 1.1rem;
    outline: none;
    border: none;
    background: inherit;
    min-width: 400px;
  }

  .mat-icon {
    color: #673ab7;
  }
}

.cart-badge {
  position: relative;
  top: -18px;
  left: -5px;
  transform: translate(-50%, -50%);
  background-color: red;
  color: white;
  font-size: 12px;
  padding: 4px;
  border-radius: 50%;

}

.app-title {
  cursor: pointer;
}

