.spacer {
  flex: 1 1 auto;
}

:host {
  display: block;
}

.search-bar {
  padding: 0px 56px 0px 8px;
  background: white;
  border-radius: 40px;
  display: flex;
  align-items: center;
  height: 40px;
  margin-left: 40px;

  > input {
    font-size: 1.1rem;
    outline: none;
    border: none;
    background: inherit;
    min-width: 400px;
  }

  .mat-icon {
    color: #673ab7;
  }
}

