<mat-toolbar color="primary">
  <span routerLink="" class="app-title">EasyShop</span>
  <div class="search-bar">
    <mat-icon matPrefix class="centered-icon">search</mat-icon>
    <input [formControl]="searchControl" placeholder="Search for a product">
  </div>
  <span class="spacer"></span>
  <button mat-button routerLink="/cart">
    <mat-icon aria-hidden="false" fontIcon="add_shopping_cart"></mat-icon>
    <span id="cart-badge" class="cart-badge">{{ cartService.getCart().length }}</span>
  </button>
</mat-toolbar>
